---
layout: splash
author_profile: true
description: "A podcast about life, dating and relationship advice with a kink twist"
sitemap: true
header:
  overlay_filter: 0.6
  overlay_image: /images/header-home.png
excerpt: "<div class='social__links'>
<a target='_blank' href='https://open.spotify.com/show/3XjoipCU3QzeIaQAAQpBdW' title='Spotify'><i class='fab fa-spotify'></i></a>
<a target='_blank' href='https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy80MjI0YzYzYy9wb2RjYXN0L3Jzcw==' title='Google Podcasts'><i class='fab fa-google-play'></i></a>
<a target='_blank' href='https://podcasts.apple.com/us/podcast/sucias-are-my-favorite/id1548173787?uo=4' title='Apple Podcasts'><i class='fas fa-podcast'></i></a>
<a target='_blank' href='https://anchor.fm/sucias' title='Anchor.fm'><i class='fas fa-microphone-alt'></i></a>
<a target='_blank' href='https://twitter.com/cochinochingon' title='@cochinochingon'><i class='fab fa-twitter'></i></a>
<a target='_blank' href='mailto:el.gallo.cochino@gmail.com' title='el.gallo.cochino@gmail.com'><i class='fas fa-envelope'></i></a></div>
<h2>A podcast about life, dating and relationship advice with a kink twist</h2>
<iframe src="https://open.spotify.com/embed/show/3XjoipCU3QzeIaQAAQpBdW" width="100%" height="232" frameBorder="0" allow="encrypted-media"></iframe>"
---

<div class="archive">

<h3 class="archive__subtitle">Recents Episodes</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
</div>
