---
layout: splash
author_profile: true
description: "A podcast about life, dating and relationship advice with a kink twist"
sitemap: true
header:
  overlay_filter: 0.6
  overlay_image: /images/header-home.png
---

<div class="archive">

<iframe src="https://open.spotify.com/embed/show/3XjoipCU3QzeIaQAAQpBdW" width="100%" height="232" frameBorder="0" allowtransparency='true' allow="encrypted-media"></iframe>

<h3 class="archive__subtitle">Recents Episodes</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
</div>
